<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} !^www\. [OR]
#RewriteCond %{HTTP_HOST} ^https://tokimeki.ca/ [NC]
#RewriteRule ^ http://https://tokimeki.ca/%{REQUEST_URI} [R=301,L,NE]
#RewriteCond %{THE_REQUEST} ^[A-Z]+\ /index\.php(/[^\ ]*)?\ HTTP/
#RewriteRule ^index\.php(/(.*))?$ https://tokimeki.ca\ [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
